#!/usr/bin/bash
#
#

echo 'nameserver 8.8.8.8' >> /etc/resolv.conf
iptables-restore < /iptables-rules

ulogd -d

python3 /listener.py &


if [ -s /mnt/iptables ]; then
   echo "/mnt/iptables is not empty."
   iptables-restore /mnt/iptables
else
   echo "/mnt/iptables is empty."
fi


default_interface=$(route -n | grep {{ pub_net_subnet_1 }} | awk '{print $8}')
while true; do
	default_route=$(ip route show default | awk '{print $3}')
	if [ "$default_route" != "{{ pub_net_gateway }}" ]; then
		ip route replace default via {{ pub_net_gateway }} dev eth0
	fi
	sleep 10
done
