[Unit]
Description=Running grafana as docker-monitoring service
After=set-default-route.service
wants=firewall.service

[Service]
ExecStartPre=/home/geo/grafana-proiekt/prune-monitoring-files && sleep 10
WorkingDirectory=/home/geo/grafana-proiekt
#Environment="PATH=/home/build/dev/sol_project_overview/ansible-interface/venv/bin"
ExecStart=/usr/bin/ansible-playbook /home/geo/grafana-proiekt/set_git_fixed.yml -i /home/geo/grafana-proiekt/inventory

[Install]
WantedBy=multi-user.target
