[defaults]
fork = 20
pipelining = True
system_warnings = False
inventory = ./inventory
remote_tmp = /tmp/ansible
deprecation_warnings = False
remote_port = 49803
interpreter_python = /usr/bin/python2.6
#callbacks_enabled = timer, profile_tasks, profile_roles
strategy = free
host_key_checking = False
ansible_task_debugger = True
command_warnings=False

#[ssh_connection]
#ssh_args = -o ControlMaster=auto -o ControlPersist=60s

#[connection]
#scp_if_ssh = True
#transfer_method = scp


#[privilage_escalation]
#remote_user = root
#become = yes

